.weather_card {
    padding: 10px 30px;
    background-color: #ffffff;
    border-radius: 10px;
}
.card_title {
    color: #8b8b8b;
    font-size: 12px;
}

.weather_card > div {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather_card > div > p {
    font-size: 25px;
}

.weather_card span {
    font-size: 12px;
    padding: 0 2px;
}
