.search_bar_wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}
.search_bar_wrapper svg {
    height: 15px;
    width: 15px;
}
.search_bar_wrapper input[type="text"] {
    border: 0;
    max-width: 100%;
}
.search_bar_wrapper input[type="text"]:focus {
    outline: none;
}
.search_bar_wrapper input[type="text"]::placeholder {
    color: #000000;
}

.search_result {
    list-style: none;
    background-color: #efefef;
    box-shadow: 0 0 10px #f4f4f4;
    position: absolute;
    min-width: 200px;
}

.search_result li {
    padding: 10px;
}
.search_result li:hover {
    cursor: pointer;
    background-color: #f4f4f4;
}
