.current_location_wrapper {
    position: relative;
}

.current_location_wrapper img {
    width: 100%;
    border-radius: 12px;
}
.current_location {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}
