.current_location_wrapper {
    display: grid;
    place-items: center;
}

.current_location_wrapper img {
    width: 100%;
    border-radius: 12px;
}
.current_location {
    font-size: 18px;
    position: absolute;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .current_location_wrapper {
        display: none;
    }
}
