.sidebar {
    background-color: #ffffff;
    border-radius: 60px 0 0 60px;
    width: 30%;
    padding: 50px 40px;
}
@media screen and (max-width: 768px) {
    .sidebar {
        border-radius: 0;
        width: 100%;
        padding: 20px;
    }
}
