* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #64645f;
}

.scroll::-webkit-scrollbar {
    height: 8px;
    border-radius: 10px;
    background-color: #fff;
}
/** @type {import('tailwindcss').Config} */
/* module.exports = {
    theme: {
      screens: {
        'sm': '640px',
        // => @media (min-width: 640px) { ... }
  
        'md': '768px',
        // => @media (min-width: 768px) { ... }
  
        'lg': '1024px',
        // => @media (min-width: 1024px) { ... }
  
        'xl': '1280px',
        // => @media (min-width: 1280px) { ... }
  
        '2xl': '1536px',
        // => @media (min-width: 1536px) { ... }
      }
    }
  } */
